<br />
<br />
<br />
<br />
<br />
<%= form_for :users, url: {action: "available?"}, html: {method: 'get'} do |f| %>
  <div class="large-4 large-centered columns">
    <div class="row collapse">
      <div class="small-6 large-2 columns">
        <%= content_tag :span, 'http://', class: 'prefix' %>
      </div>
      <div class="small-6 large-6 columns">
        <%= f.text_field :shop_name, placeholder: 'butikknavn...' %>
      </div>
      <div class="small-12 large-2 columns">
        <%= content_tag :span, '.nettbutikk.no', class: 'postfix' %>
      </div>
      <div class="small-12 large-2 columns">
        <%= f.submit 'Go', class: 'button postfix' %>
      </div>
    </div>
  </div>
<% end %>