<% #encoding: utf-8 %>
<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li><%= link_to 'Forsiden', root_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Om Oss', root_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Hjelp', root_path %></li>
        <li class="divider"></li>
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Søkeord">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Søk</a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="right">
        <li class="divider"></li>
        <% if user_signed_in? %>
            <li class="has-dropdown">
              <%= link_to 'Min Side', current_shop_user.username %>
              <ul class="dropdown">
                <li><%= link_to 'Instillinger', current_shop_user.username %></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li><%= link_to 'Logg ut', destroy_shop_user_session_path, :method => :delete %></li>
        <% else %>
            <li class="divider"></li>
            <li class="active"><a data-dropdown="sign_in">Logg Inn</a></li>
            <li><%= link_to 'Registrering' %></li>
        <% end %>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
</div>
<div id="sign_in" class="f-dropdown small content">
  <div class="row">
    <div class="large-12 columns">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row">
            <div class="large-12 columns">
              <%= f.email_field :email, placeholder: 'E-post', autofocus: true %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.password_field :password, placeholder: 'Passord', autocomplete: "off" %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 large-centered columns">
              <%= f.submit 'Logg inn', class: 'small button' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>